__pycache__/
**/node_modules
.expo/
*.pyc
**/node_modules
.expo/
*.pyo
**/node_modules
.expo/
*.pyd
**/node_modules
.expo/
.env
**/node_modules
.expo/
.venv
**/node_modules
.expo/
env/
**/node_modules
.expo/
venv/
**/node_modules
.expo/
ENV/
**/node_modules
.expo/
env.bak/
**/node_modules
.expo/
venv.bak/
**/node_modules
.expo/
*.db
**/node_modules
.expo/
*.sqlite3
**/node_modules
.expo/
*.zip
**/node_modules
.expo/
dataset/
**/node_modules
.expo/
uploads/
**/node_modules
.expo/
.DS_Store
**/node_modules
.expo/
